{% set compteurSelect = 0 %}
<div class="col-md-6">
    <input type="hidden" name="idfichemere" value="{{ idfichemere }}" id="idfichemere"/>
    {% set libSelect ='' %}

    {% if nbopt == 1  %}
        {% for decli in splitDecli %}
            {% for cft in configChamps %}
                {% if cft.nom == decli %}
                    {% set libSelect = cft.libelleGestion %}
                {% endif %}
                {% if cft.nom == decli %}
                    {% set compteurSelect = compteurSelect + 1 %}
                    <div class="form-controll" id="zone-{{ compteurSelect }}">
                        <label for="">{{ libSelect }}</label>
                        <select name="{{ libSelect }}" id="choix-{{ compteurSelect }}" class="form-control selectopt" title="{{ cft.nom }}" alt="{{ compteurSelect - 1 }}">
                            {% for champ in distinctChamps %}
                                {% if champ.champConfig == cft.nom %}
                                    <option rel="{{ champ.id }}" value="{{ champ.data }}">{{ champ.data }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}

    {% else %}
        {% for decli in splitDecli %}
            {% for cft in configChamps %}
                {% if cft.nom == decli %}
                    {% set libSelect = cft.libelleGestion %}
                {% endif %}
                {% if cft.nom == decli %}
                    {% set compteurSelect = compteurSelect + 1 %}
                    <div class="form-controll" id="zone-{{ compteurSelect }}">
                        <label for="">{{ libSelect }}</label>
                        <select name="{{ libSelect }}" id="choix-{{ compteurSelect }}" class="form-control selectopt" title="{{ cft.nom }}" alt="{{ compteurSelect - 1 }}">
                            <option value="">Choix {{ libSelect }}</option>
                            {% if compteurSelect == 1 %}
                                {% for champ in distinctChamps %}
                                    {% if champ.champConfig == cft.nom %}
                                        <option rel="{{ champ.id }}" value="{{ champ.data }}">{{ champ.data }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}



    <input type="hidden" name="optmax" value="{{ compteurSelect }}" id="optmax"/>
    <input type="hidden" name="decli" id="decli" value="{{ idfichemere }}"/>

    <div class="row">
        {# Ne pas effacer ces div#}
        <ul>
            {% if nbopt == 1 %}
                {% if prix1[0] is defined %}
                    <li id="zoneprix1">Prix : {{ prix1[0].data }}</li>
                {% endif %}
                {% if prix2[0] is defined %}
                    <li id="zoneprix2">Prix promo : {{ prix2[0].data }}</li>
                {% endif %}

            {% else %}
                <li id="zoneprix1"></li>
                <li id="zoneprix2"></li>
            {% endif %}

        </ul>
    </div>
    <div class="row">
        {% if stockPositif < 1 and nbopt == 1 %}
            <div id="epuisesolo"><span class="badge badge-warning">Produit épuisé</span></div>
        {% else %}
            <div id="epuise"><span class="badge badge-warning">Produit épuisé</span></div>
        {% endif %}

        {% if stockPositif == 1 and nbopt == 1 %}
            <button class="btn btn-primary" id="ajoutpaniersolo" >Ajouter au panier</button>
        {% else %}
            <button class="btn btn-primary" id="ajoutpanier" >Ajouter au panier</button>
        {% endif %}

    </div>
</div>



{% block javascripts %}


    <script type="text/javascript">

        $("#epuise").hide();
        $("#ajoutpanier").hide();

        $(".selectopt").change(function(e) {
            e.preventDefault();
            $("#zoneprix1").empty();
            $("#zoneprix2").empty();
            $("#ajoutpanier").hide();
            $("#epuise").hide();
            var optmax = $("#optmax").val();
            var idoption = $("option:selected", this).attr("rel");
            var champ =  $(this).val() ;
            var champConfig = $(this).attr('title')
            var idfichemere = $("#idfichemere").val();
            var cptSelect = $(this).attr('alt')

            //on vide les select d'apres
            for(var i = 0; i < optmax ; i++)
            {
                if (cptSelect < i  )
                {
                    $("#choix-"+(i+1)).children('option:not(:first)').remove();
                }
            }

            chargeSelect(champ, champConfig, idfichemere,cptSelect, idoption );
        });

        function chargeSelect(champ, champConfig, idfichemere, cptSelect, idoption)
        {
            $.ajax({
                url :'{{ path('ag_front_products_ajaxoption') }}',
                type :'POST',
                datatype : 'xml',
                data :
                {
                    "dataChamp" : champ,
                    "champConfig" : champConfig,
                    "idfichemere" : idfichemere,
                    "cptSelect" : cptSelect
                }
            })
            .done(function(xml)
            {
                var cptInitial = parseInt(cptSelect) + 1;
                var cptNext = parseInt(cptInitial) + 1;
                var fin = $(xml).find("fin").text()
                $(xml).find("champs").each(function(){
                    var libelle='';
                    var id ='';
                    var epuise='oui';

                    $(this).find("libelle").each(function(){
                        libelle = $(this).text()
                    })

                    $(this).find("id").each(function(){
                        id = $(this).text()
                    })
                    $(this).find("epuise").each(function(){
                        epuise = $(this).text()
                    })
                    if (libelle != '' )
                    {
                        $("#choix-"+cptNext).append("<option rel=\""+id+"\" value=\""+libelle+"\">"+libelle+"</option>")
                    }
                })
                if (fin == 'oui')
                {
                    chargePrix(idoption);
                }

                console.log("ajax réussi");
            })
            .fail(function(xhr, status, errorThrown)
            {
                alert( "Sorry, there was a problem!" );
                console.log( "Error: " + errorThrown );
                console.log( "Status: " + status );
                console.dir( xhr );
            })
            .always(function( xhr, status )
            {
                console.log("The request is complete!" );
            });
        }

        //fonction pour afficher les prix une fois qu'on a choisi toutes les options
        function chargePrix(idoption)
        {
            $.ajax({
                url :'{{ path('ag_front_products_ajaxresult') }}',
                type :'POST',
                datatype : 'xml',
                data :
                {
                    "idoption" : idoption
                }
            })
            .done(function(xml)
            {
                $(xml).find("infosprix").each(function(){
                    var prix ='';
                    var prix2 ='';
                    var epuise='oui';
                    var prixoptions='';
                    var idprix='';
                    $(this).find("prix1").each(function(){
                        prix = $(this).text()
                    })
                    $(this).find("prix2").each(function(){
                        prix2 = $(this).text()
                    })
                    $(this).find("epuise").each(function(){
                        epuise = $(this).text()
                    })
                    $(this).find("prixoptions").each(function(){
                        prixoptions = $(this).text()
                    })
                    $(this).find("idprix").each(function(){
                        idprix = $(this).text()
                    })
                    if(prixoptions == 1) {
                        if ((prix != '' || prix2 != '') && epuise != 'oui') {
                            $("#zoneprix1").empty();
                            $("#zoneprix2").empty();

                            if (prix != '' && prix2 != '') {
                                $("#zoneprix1").append("Prix : " + prix + " €");
                                $("#zoneprix2").append("Prix Promo: " + prix2 + " €");
                            }
                            else if (prix != '') {
                                $("#zoneprix2").append("Prix : " + prix + " €");
                            }
                            else if (prix2 != '') {
                                $("#zoneprix2").append("Prix : " + prix2 + " €");
                            }
                            $("#ajoutpanier").show();
                        }
                        else {
                            $("#epuise").show();
                        }
                        $("#decli").val(idprix);
                    }
                    else
                    {
                        $("#ajoutpanier").show();
                    }
                })
                console.log("ajax réussi");
            })
            .fail(function(xhr, status, errorThrown)
            {
                alert( "Sorry, there was a problem!" );
                console.log( "Error: " + errorThrown );
                console.log( "Status: " + status );
                console.dir( xhr );
            })
            .always(function( xhr, status )
            {
                console.log("The request is complete!" );
            });
        }
    </script>
{% endblock %}
