{% if app.session.flashBag.has('livredor') %}
    {% for flash_message in app.session.flashBag.get('livredor') %}
        <div class="flash-notice alert alert-info">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endif %}

{# Formulaire d'envoi de message#}
{{ form_start(formLivredor, {attr:{'enctype': 'multipart/form-data'}}) }}
    {#{{ dump(champsLivredor) }}#}
    {% for champ in  champsLivredor %}
        <div class="form-controll">
            <label for="">{{ champ.libelleGestion }}</label>
            {% if champ.type == 'image' or champ.type == 'pdf' %}
                <input type="file" name="{{ champ.nom }}"/>
            {% elseif champ.type == 'texte' %}
                <textarea id="" cols="30" rows="10" name="{{ champ.nom }}[{{ champ.type }}]"></textarea>
            {% elseif champ.type == 'booleen' %}
                <input type="radio" name="{{ champ.nom }}" value="1"/>Oui
                <input type="radio" name="{{ champ.nom }}" value="0"/>Non
            {% else %}
                <input type="text" name="{{ champ.nom }}[{{ champ.type }}]"/>
            {% endif %}
        </div>
    {% endfor %}
<input type="hidden" name="module" value="{{ moduleid }}"/>
<button type="submit" class="btn bg-cyan btn-block btn-lg waves-effect">VALIDER</button>
{{ form_widget(formLivredor) }}
{{ form_end(formLivredor) }}




{# Liste des messages #}
{% for message in messages %}
    <p>
        {% if message.titre[0] is defined %}
            Titre : {{ message.titre[0].data }}<br />
        {% endif %}
        {% if message.date[0] is defined %}
            Date : {{ message.date[0].data|date("d-m-Y") }}<br>
        {% endif %}
    </p>
    {% if message.texte[0] is defined %}
        <div>
            Message : {{ message.texte[0].data|raw }} <br/>
        </div>
    {% endif %}

{% endfor %}